<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647708968362-ob6818mnel8itj414g1aj7079dqplcbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647708968362-ob6818mnel8itj414g1aj7079dqplcbj</string>
	<key>API_KEY</key>
	<string>AIzaSyBf_QB12d-90dGWbHmEmPZ0e9MWqg3SCdA</string>
	<key>GCM_SENDER_ID</key>
	<string>647708968362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.heatscore</string>
	<key>PROJECT_ID</key>
	<string>heatscoreios</string>
	<key>STORAGE_BUCKET</key>
	<string>heatscoreios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647708968362:ios:9170cccf970146996d57d3</string>
</dict>
</plist>